body{
    background-color: wheat;
}

.name-swapi {
    display: block;
    margin-bottom: 2em;
  
}
.avatar-swapi {
  width: 100px;
  height: 100px;
}
.container-swapi {
    outline: 1px solid darkblue;
    width: 200px;
    height: 200px;
    text-align: center;
}